{%extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'detail.css' %}" type='text/css'>
{% endblock head %}

{% block content %}
<div class="total">   
    <div class ="title">
        <div class="titletext">{{post.title}}</div>
    </div>

    <div class="duedate">
        <p class="duedatetext"> 마감기한: {{post.duedate}}</p>
    </div>

    <div class = "content">
        <p class="contenttext">{{post.content}}</p>
    </div>

    <div class ="comment">
        <p>댓글</p>
        {% for comment in post.comments.all %}
        <div class="commenttext">
        <li> {{ comment.content }} </li>
        <a class="commentdelete" href="{%url 'delete_comment' post.pk comment.pk %}"> 삭제 </a>
        </div>
        {% endfor %}
        
        <div class="newcomment">
            <form method="POST">
            {% csrf_token %}
                <input class="newcommenttext" type="text" name="content" placeholder="  댓글을 입력하세요">
                <button type="submit">확인</button>
            </form>  
        </div>
    </div>

    <div class="bottom">
        <a class="button" href="{% url 'home' %}">
            <span class="material-icons" style="font-size: 30px;">home</span>
        </a>
        <a class="button" href="{% url 'edit' post.pk %}">
            <span class="material-icons" style="font-size: 30px;">edit</span>
        </a>
        <a class="button" href="{% url 'delete' post.pk %}">
            <span class="material-icons" style="font-size: 30px;">delete</span>
        </a>
    </div>
</div>
{% endblock content %}