{%extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'edit.css' %}" type='text/css'>
{% endblock head %}

{% block content %}
    <form method="POST">
        {%csrf_token%}
            <div class=total>
                <div class ="new">
                    <div class="newpost">할일을 수정하세요</div>
                </div>

                <div class="title">
                    <input class="titletext" type="text" name="title" value="{{ post.title }}" placeholder="일정을 입력해주세요">
                </div>

                <div class="content">
                    <textarea class="contenttext" name="content" cols="30" rows="10">{{post.content}}</textarea>
                </div>

                <div class="duedate">
                    <label class="label"> due date:  </label>
                    <input class="duedatetext" type="date" name="duedate" value="{{post.duedate}}" placeholder="마감기한을 입력해주세요">
                </div>

                <div class="bottom">
                    <button class="button" type="submit">
                    <span class="material-icons" style="font-size: 20px; color:white;"> 
                    done_outline
                    </span>
                    </button>
                </div>
            </div>
    </form>
{% endblock content %}
