{%extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}" type='text/css'>
{% endblock head %}

{% block content %}
<div class="total"> 
    <div class='header'>
        <h1 class="title">
            todo list
        </h1>
    </div>

    <div class='text'>
        {% for post in posts %}
        <div class="sub_text">
            <span class="material-icons" style="font-size: 20px; color: gray;"> 
            done_outline
            </span>
            <a class ="detail" href="{% url 'detail' post.pk %}">{{post.title}}</a>
            <p class="timeuntil">{{post.duedate|timeuntil}} left</p>
        </div>
        <div class=line> </div>
        {% endfor %}
    </div>

    <div class='footer'>
        <a class="button" href="{% url 'new' %}">
            <span class="material-icons" style="font-size: 50px;">
            add_circle
            </span>
        </a>
    </div>
</div>
{% endblock content %}
