.top {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 800;
}

.middle {
  margin-top: 20px;
  margin-bottom: 30px;
}

#input {
  border: none;
  border-bottom: 2px solid gray;
  width: 300px;
  font-size: 16px;
  margin-right: 10px;
}

#button {
  background-color: rgb(240, 240, 240);
  border: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
}
